@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

/*----Body----*/
body marquee {
    background-color: #154360;
    color: #FFFFFF;
}
/*
body {
    background-color: #154360;
}*/


/*----NavBar----*/
.navbar.navbar-expand-lg.bg-body-tertiary {
    background-color: #154360;

}

.nav-item {
    margin-left: 5vw;
}

.navAlign {
    margin-left: 20vw;
}

.logo{
    width: 5vw;
    height: 6vw;
}

.navbar.navbar-expand-lg.navbar-light.bg-light {
    /*background-image: -webkit-linear-gradient(270deg, rgba(10, 54, 88, 1.00) 0%, rgba(66, 116, 151, 1.00) 54.51%, rgba(110, 188, 244, 1.00) 100%);
    background-image: -moz-linear-gradient(270deg, rgba(10, 54, 88, 1.00) 0%, rgba(66, 116, 151, 1.00) 54.51%, rgba(110, 188, 244, 1.00) 100%);
    background-image: -o-linear-gradient(270deg, rgba(10, 54, 88, 1.00) 0%, rgba(66, 116, 151, 1.00) 54.51%, rgba(110, 188, 244, 1.00) 100%);
    background-image: linear-gradient(180deg, rgba(10, 54, 88, 1.00) 0%, rgba(66, 116, 151, 1.00) 54.51%, rgba(110, 188, 244, 1.00) 100%);
*/
    background-color: transparent;
}

.dropdown-menu {
    background-image: -webkit-linear-gradient(270deg, rgba(10, 54, 88, 1.00) 0%, rgba(66, 116, 151, 1.00) 54.51%, rgba(110, 188, 244, 1.00) 100%);
    background-image: -moz-linear-gradient(270deg, rgba(10, 54, 88, 1.00) 0%, rgba(66, 116, 151, 1.00) 54.51%, rgba(110, 188, 244, 1.00) 100%);
    background-image: -o-linear-gradient(270deg, rgba(10, 54, 88, 1.00) 0%, rgba(66, 116, 151, 1.00) 54.51%, rgba(110, 188, 244, 1.00) 100%);
    background-image: linear-gradient(180deg, rgba(10, 54, 88, 1.00) 0%, rgba(66, 116, 151, 1.00) 54.51%, rgba(110, 188, 244, 1.00) 100%);
}

.dropdown-item:hover {
    background-color: #07304b;
    color: #31a2cf;
}


/*----Carousel----*/
.d-block {
    width: 100vw;
}

/*----Body----*/
.cardMain {
    width: 30vw;
    color: #021825;
}

.content {
    width: 70vw;
}

.map {
    width: 100vw;
    height: 60vw;
}

.buttonImg{
    border: none;
    font-size: larger;
    font-weight: bold;
    display: inline-block;
}

.buttonImg:hover{
    color: #042631;
    margin-left: 0.2vw;
}

.imgBorder{
    border: 2px solid black;
}



/*----Footer----*/
.row {
    padding: 0px;
    margin: 0px;
}

.fLogo{
    width: 20vw;
    height: 50vh;
}

.footerLinks {
    margin-top: 5vw;

}

.footerButton {
    margin-top: 7vw;
}

a {
    color: #021825;
}

.quicklinks:hover {
    margin-left: 0.2vw;
}

a:link {
    text-decoration: none;
}

a:hover {
    color: #73ebf1;
}

.buttonFooter {
    border-radius: 5px;
    border: 2px solid #e0d8d8;
    padding: 6px 10px;
    text-decoration: none;
    display: inline-block;
    color: #012e4d;
    font-weight: bold;
    background-color: transparent;
}

.buttonFooter:hover {
    background: #1e78b0;
    color: #151515;
    margin-left: 0.2vw;
}

@media only screen and (max-width: 992px) {
    footer {
        text-align: center;
    }
}

@media only screen and (max-width: 600px) {
    .card {
        width: 100vw;
    }
}

p{
    margin: 0px;
}

.p {
    text-align: justify;
}


* {box-sizing: border-box}

/* Container needed to position the overlay. Adjust the width as needed */
.container {
  position: relative;
  width: 50%;
  max-width: 300px;
}

/* Make the image to responsive */
.image {
  display: block;
  width: 21vw;
  height: auto;

}

/* The overlay effect - lays on top of the container and over the image */
.overlay {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1;
  width: 21vw;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

/* When you mouse over the container, fade in the overlay title */
.container:hover .overlay {
  opacity: 1;
}

.link-position{
    text-align: center;
}
.col-lg-4{
    border-style:dotted;
    border-color: #151515;
}